{% extends "userbase.html" %}
  
{% block title %}{{ title }}{% endblock %}
  
{% block content %}

<h1><h1>SecureContact</h1><br>
<p>Welcome to <b>SecureContact</b>. This is a web app that lets you securely share and view reports. You may use the tabs above to navigate the site.<br><br>
<p>The <b>Reports</b> tab allows you to upload and view your own reports. The <b>Search</b> tab allows you to view public reports by searching by keyword. The <b>Messages</b> tab provides for both encrypted and unencrypted messages. The <b>Groups</b> tab lets you join and manage groups of anonymous users. Lastly, the <b>Account</b> tab allows you to manage your account settings.

<br><br><br>To log out of your account, please click the link below. Thanks for using SecureContact!
{% endblock %}