{% extends "userbase.html" %}

{% block content %}

<h2>Send a message</h2>
<form action="" method="POST">
    {% csrf_token %}
    <p> {{form.message_recipient.label }}
    <br> {{ form.message_recipient }} </p>
    <p> {{form.message_body.label }}
    <br> {{ form.message_body }} </p>
    <p> {{form.encrypted.label}} {{form.encrypted }} </p>
    <p><input type="submit" value="Submit" name="message" /> </p>
<h2>My messages</h2>
<table>
    <tr>
        <th>Select</th>
        <th>From</th>
        <th>Body</th>

    </tr>
    {% for message in messages %}
    <tr>
        <td><input type="checkbox" name="del" value="{{ message.id }}"/></td>
        <td>{{ message.sender }}</td>
        <td>{{ message.body }}</td>
	
    </tr>
    {% endfor %}
    <input type="submit" name="delete" value="Delete"/>
    <input type="submit" name="decrypt" value="Decrypt Selected"/>
</table>
</form>

{% endblock %}
