{% extends "userbase.html" %}

{% block content %}

<h2>Send a message</h2>
<form action="" method="POST">
    {% csrf_token %}
    <p> {{form.message_recipient.label }}
    <br> {{ form.message_recipient }} </p>
    <p> {{form.message_body.label }}
    <br> {{ form.message_body }} </p>
    <p><input type="submit" value="Submit" /> </p>
</form>
<h2>My messages</h2>
<table>
    <tr>
        <th>From</th>
        <th>Body</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{ message.sender }}</td>
        <td>{{ message.body }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
