{% extends "userbase.html" %}

{% block content %}

<h2>Search Reports</h2>
<form action="search" method="GET">
    <p><input type="text" name="q" /><input type="submit" value="Search" /></p>
</form>

<h2>Submit a Report</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p> {{ form.report_description.label }}:{{ form.report_description }}
    <p> {{ form.report_keyword.label }}:{{ form.report_keyword }}
    <p> {{ form.report_body.label }} <br> {{ form.report_body }}
    <p> {{ form.report_files }}
    <p> {{ form.report_is_private.label }}:{{ form.report_is_private }}
        {{ form.report_is_encrypted.label }}:{{ form.report_is_encrypted }}
    <p><input type="submit" value="Submit" name="report" />
    <br><br>
</form>
<form action="" method="GET">
    <h1>My Reports</h1>
    <table>
        <tr>
            <td>
                <select name="visibility">
                    <option selected disabled>Visibility</option>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </td><td>
                <select name="folder">
                    <option selected disabled>Folder</option>
                </select>
            </td><td>
                <input type="submit" value="Filter" />
            </td>
        </tr>
    </table>
</form>
<br>
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" name="delete" value="Delete selected"/>
    Move to Existing Folder: 
    <select name="move_to_folder" onchange="form.submit()"></select>
      <!-- {% for folder in folders % } -->
    <input type="submit" name="new_folder" value="Move Selected to New Folder: " title="Specify a new foldername, then press this button"/>{{ form.report_folder }}</input>
    <br><br><hr>
    {% for report, files in reports %}
      <input type="checkbox" name="del" value="{{ report.id }}"/>
      <p><b>Owner: </b> {{ report.owner }}<br>
      <!-- Replace with DateTimeStamp -->
      <b>Created: </b> {{ report.timestamp }}<br>
      <b>Keyword: </b> {{ report.keyword }}<br>
      <b>Description: </b> {{ report.description }}<br>
      <b>Body: </b> {{ report.text }}<br>
      <b>Private: </b> {{ report.private }} <br> 
      <b>File(s) are Encrypted: </b> {{ report.encrypted }}<br>
      <a title="Use the Standalone Application to download and/or decrypt this file"><b>Files: </b>
      {% for file in files %}
         {{ file.file }}
      {% endfor%}
      </a>
      <hr>
    {% endfor %}
</form>

{% endblock %}
