{% extends "userbase.html" %}

{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% if can_submit_report %}
<h2>Submit a Report</h2>
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Submit" name="report" /> </p>
    <br><br>
</form>
{% endif %}
<form action="" method="GET" autocomplete="off">
    <h1>My Reports</h1>
    <table>
        <tr>
            <td>
                <select name="visibility">
                    <option selected disabled>Visibility</option>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </td><td>
                <select name="folder">
                    <option selected disabled>Folder</option>
                    <option value="0">/</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder }}</option>
                    {% endfor %}
                </select>
            </td><td>
                <input type="submit" value="Filter" />
            </td>
        </tr>
    </table>
</form>
<br>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="submit" name="delete" value="Delete selected"/>
    <input type="submit" name="move" value="Move to Existing Folder"/>
    <select name="folder">
      <option selected disabled>Folder</option>
      <option value="0">/</option>
      {% for folder in folders %}
        <option value="{{ folder.id }}">{{ folder }}</option>
      {% endfor %}
    </select>
    <a href="{% url 'folder' %}">Create New Folder</a>
    <input type="submit" name="delete_folder" value="Delete folder"/>
    <input type="text" name="new_name"/><input type="submit" name="rename_folder" value="Rename folder"/>
    <br><br><hr>
    {% for report, files, hash in reports %}
      <table><tr><td><input type="checkbox" name="del" value="{{ report.id }}"/></td>
            <td><a href="edit/{{ report.id }}/">edit</a></td></tr></table>
      <b>Owner: </b> {{ report.owner }}<br>
      <!-- Replace with DateTimeStamp -->
      <b>Created: </b> {{ report.timestamp }}<br>
      <b>Keyword: </b> {{ report.keyword }}<br>
      <b>Group(s): </b>
      <ul style="margin:0px;"> {% for group in report.group.all %} <li>{{ group }}</li> {% endfor %}</ul>
      <b>Description: </b> {{ report.description }}<br>
      <b>Body: </b> {{ report.text }}<br>
      <b>Folder: </b> {% if report.folder %} {{ report.folder }} {% else %} / {% endif %}<br>
      <b>Private: </b> {{ report.private }} <br> 
      <b>File(s) are Encrypted: </b> {{ report.encrypted }}<br>
      <b>Files: </b>
      {% for file in files %}
      {% if file.file %}
	  {% if report.encrypted %}
	      <p title="Use the Standalone Application to download and/or decrypt this file">{{ file.file.name }}</p>
	  {% else %}
	      <a href="{{file.file.url}}">{{ file.file.name }}</a>
	  {% endif %}
      {% endif %}
      {% endfor%}

      <br>
      <b>Report hash: </b>{{ hash }} <br>
      </a>
      <hr>
    {% endfor %}
</form>

{% endblock %}
