<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/securecontactapp/userstyle.css" />
<head>
    <title>{% block title %}Secure Contact App{% endblock %}</title>
</head>

<body>
  <center>
    
    <div id="banner" style='background: #F95252; height: '150px';'>
      <img src="/static/securecontactapp/SecureContact.png">
    </div>
  
    <div class="flex-container">
    
    <a href="{% url 'home' %}" class="flex-item">
      <span class="nav-tab"><b>HOME</b></span>
    </a>
      
    <a href="{% url 'reports' %}" class="flex-item">
      <span class="nav-tab"><b>REPORTS</b></span>
    </a>

    <a href="{% url 'search' %}" class="flex-item">
      <span class="nav-tab"><b>SEARCH</b></span>
    </a>

      {% if num_messages %}
    <a href="{% url 'messages' %}" class="flex-item">
      <span class="nav-tab"><b>MESSAGES </b>({{num_messages}})</span>
    </a>
      {% else %}
    <a href="{% url 'messages' %}" class="flex-item">
      <span class="nav-tab"><b>MESSAGES </b></span>
    </a>
      {% endif %}
    <a href="{% url 'groups' %}" class="flex-item">
      <span class="nav-tab"><b>GROUPS</b></span>
    </a>

    <a href="{% url 'account' %}" class="flex-item">
      <span class="nav-tab"><b>ACCOUNT</b></span>
    </a>

   </div>   
    
   <br>
    
 </center>
    <div id="pagecontent">
        {% block content %}{% endblock %}
    </div>
</body>
<br><br><br><br>
<p><a href="{% url 'logout' %}">Gotta Go?</a></p>
</html>
