<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/securecontactapp/userstyle.css" />
<head>
    <title>{% block title %}Secure Contact App{% endblock %}</title>
</head>

<body>
  <center>
    
    <div id="banner" style='background: #F95252; height: '150px';'>
      <img src="/static/securecontactapp/SecureContact.png">
    </div>
    
    <div class="flex-container">
      <div class="flex-item"><span class="nav-tab">
	  <b>
	    <a href="{% url 'home' %}">HOME</a>
	  </b>
	</span>
      </div>
      
      <div class="flex-item"><span class="nav-tab">
	  <b>
	    <a href="{% url 'reports' %}">REPORTS</a>
	  </b>
	</span>
      </div>
    
      <div class="flex-item"><span class="nav-tab"><b>MESSAGES</b></span></div>  
      <div class="flex-item"><span class="nav-tab"><b>GROUPS</b></span></div>
      <div class="flex-item"><span class="nav-tab"><b>ACCOUNT</b></span></div> 
   </div>
    
   <br><br><br>
   
   <!-- HORTON BURST -->
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   <img src="http://www.cs.virginia.edu/~horton/horton2001.jpg">
   
   <br><br><br>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
</body>
<p><a href="{% url 'logout' %}">Gotta Go?</a></p>
</html>
